$bg-start: #9d9181;
$bg-end: #9e866c;
$card-bg: #e6e5e1;
$dribbble-color: #ea4b89;
$twitter-color: #68aade;
$facebook-color: #3b5999;

.card-profile {
  width: 340px;
  margin: 50px auto;
  background-color: $card-bg;
  border-radius: 0;
  border: 0;
  box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);

  .card-img-top {
    border-radius: 0;
  }

  .card-img-profile {   
    margin-top: -95px;
    margin-bottom: 35px;   
  }

  .card-title {
    margin-bottom: 20px;

    small {
      display: block;
      font-size: 0.6em;
      margin-top: 0.2em;
    }
  }

  .card-links {
    margin-bottom: 25px;

    .fab {
      margin: 0 1em;
      font-size: 1.6em;

      &:focus,
      &:hover {
        text-decoration: none;
      }

      &.fa-dribbble {
        color: $dribbble-color;
        font-weight: bold;

        &:hover {
          color: darken($dribbble-color, 10%);
        }
      }

      &.fa-twitter {
        color: $twitter-color;

        &:hover {
          color: darken($twitter-color, 10%);
        }
      }

      &.fa-facebook {
        color: $facebook-color;

        &:hover {
          color: darken($facebook-color, 10%);
        }
      }
    }
  }
}
