<div class='card card-profile text-center'>
    <img alt='' class='card-img-top' src='https://images.pexels.com/photos/2253573/pexels-photo-2253573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=500&w=500'>
    <div class='card-block'>
      <img alt='{{user.username}}' class='card-img-profile' [src]="avatar">
      <h4 class='card-title'>
        {{user.firstName +' '+ user.lastName}}<br>        
      </h4>
      <div class="text-left">
        <pre>{{user | json }}</pre>
      </div>
      <div class='card-links'>
        <a class='fab fa-dribbble' href='#'></a>
        <a class='fab fa-twitter' href='#'></a>
        <a class='fab fa-facebook' href='#'></a>
      </div>
    </div>
    <div class="card-footer">
        <button type="button" (click)="logout()" class="btn btn-block btn-info">Log Out</button>
    </div>
  </div>
  